<section class="page text blog-post">
    <header>
        <h1>{{title}}</h1>
        <time>{{formatDate created_at "long"}}</time>
        {{> cover}}
    </header>
    <section class="text-body">
        {{{content}}}
    </section>
    <footer>
    {{#prevItem . list=posts}}
        <div>
            <h3>Previous Post</h3>
            {{>blog/post-card}}
        </div>
    {{/prevItem}}        
    {{#nextItem . list=posts}}
        <div>
            <h3>Next Post</h3>
            {{>blog/post-card}}
        </div>
    {{/nextItem}}    
    </footer>
</section>