<section class="page">
    <header>
        <h1>{{labels.blog.title}}</h1>
        <p>{{labels.blog.subtitle}}</p>
    </header>
    {{> blog-post-list}}
    <p class="pagination">
        <a href="{{getNextPageLink 2}}">Older posts</a>
    </p>
</section>