<section class="page">
    <header>
        <h1>{{labels.projects.title}}</h1>
        <p>{{ labels.projects.subtitle }}</p>
    </header>
    {{{content}}}
    <ul class="project-list">
        {{#list projects sortBy="work_date" order="desc"}}
            <li>
                {{>projects/project-card}}
            </li>
        {{/list }}
    </ul>    
</section>