<section class="page text project">
    <header>
        <h1>{{labels.projects.title}} | {{title}}</h1>        
        <time>{{formatDate work_date "project"}}</time>        
        {{> cover}}                       
    </header>    
    <section class="text-body">                 
        {{{content}}}
    </section>
    {{>projects/project-info}}
</section>