{
    "presets": ["@babel/preset-env"],
    "plugins": [
        [
            "prismjs",
            {
                "languages": ["js", "json", "yaml", "bash"],
                "theme": "tomorrow",
                "css": true
            }
        ]
    ]
}
