<nav>
    <ul>
    {{#each config.nav}}
        <li><a href="{{getLink .}}" class="{{getNavClass . ..}}">{{title}}</a></li>
    {{/each}}
    </ul>
    <button aria-label="Toggle navigation"></button>
</nav>