<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes"/>
        <title>{{title}} | {{config.defaultTitle}}</title>
        <link rel="stylesheet" href="/bundle.css"></link>
    </head>
    <body class="{{id}}">
        {{>nav}}
        <main>
        {{{body}}}
        </main>
        {{>footer}}
        <script src="/bundle.js"></script>
    </body>
</html>