<section class="page text">
    <header>
        <h1>
            <span>Goffre</span>
            <span>{{title}}</span>
        </h1>
    </header>
    <section class="text-body">
        {{{content}}}
    </section>
</section>