<article class="article-card project-card">
    <h2 class="ellipsis">
        <a href="{{getLink .}}">{{title}}</a>
        <time>{{formatDate work_date 'project'}}</time>
    </h2>
    <div class="excerpt">{{{markdown excerpt}}}</div>
    {{>projects/project-info}}
</article>